.btnUp {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 25px;
    right: 20px;
    background: $greenWhite;
    border: 1px solid $green;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    opacity: 0.7;
    z-index: 1000;

    .leftLine {
        position: absolute;
        transform: rotate(-135deg);
        left: 15px;
        height: 20px;
        width: 2px;
        border-radius: 10px;
        background: $green;
    }

    .rightLine {
        position: absolute;
        transform: rotate(135deg);
        right: 15px;
        height: 20px;
        width: 2px;
        border-radius: 10px;
        background: $green;
    }
}